.lend-borrow-card {

    /* display: flex; */
    position: absolute;
    flex-wrap: wrap;
    width: 800px;
    height: 200px;
    padding: 15px;
    border-radius: 10px;
    background-color: purple;
    color: #fff;
    margin: 2px auto 10px ;

}